external/
bin/
build/
.vscode/
.vs/
Setup/Android/build
Setup/Android/.gradle
Setup/Android/.idea
Setup/Android/keystore.properties
Setup/Android/local.properties
gradle-daemon-jvm.properties
Setup/*.zip
Setup/*.exe
Setup/*.tar.gz
Setup/*.dmg
Setup/*.apk
Setup/*.aab
*.jks
CMakePresets.json