external/
imgui/
quickjs/
bin/
build/
.vscode/
.vs/
Setup/Android/build
Setup/Android/.gradle
Setup/Android/.idea
Setup/*.zip
Setup/*.exe
Setup/*.tar.gz
Setup/*.dmg
Setup/*.apk
Setup/*.aab
_wasm32
_sln
_sln32
_slnARM
_macos
_android
_linux